@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo: #100F21;
    --cor-title-box-h1-h2: #F5F5F5;
    --cor-font-h3: #4F33E9;
    --cor-box: #4F33E9;

    --font:'JetBrains Mono', monospace;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--font);
}

html{
    scroll-behavior: smooth;
}

/*Scroll de barra lateral*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cor-box); 
    border-radius: 5px;
}

.container-principal{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.container-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-titles{
    text-align: center;
    margin-top: 20px;
    color: var(--cor-title-box-h1-h2);
}

.container-titles h1{
    margin-bottom: 15px;
}

.container-secundario h2{
    color: var(--cor-title-box-h1-h2);
    font-weight: normal;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
}   

.container-titles h3{
    color: var(--cor-font-h3);
    font-weight: normal;
    font-size: 22px;
}

.container-primary-btn{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 10px;
}


.container-primary-btn button{
    padding: 20px 200px;
    font-size: 20px;
    font-family: var(--font);
    color: var(--cor-title-box-h1-h2);
    border-radius: 5px;
    border: 0;
}

.container-primary-btn .btn-port, .btn-linke,.btn-insta, .btn-discord{
    background-image: linear-gradient(91.18deg, #4F33E9 0%, #100F21 100%);
}

.container-primary-btn .btn-setup, .btn-github{
    background-image: linear-gradient(268.82deg, #4F33E9 0%, #100F21 100%);
}

.container-secundary-btn button{
    padding: 20px 76px;
    font-size: 20px;
    font-family: var(--font);
    color: var(--cor-title-box-h1-h2);
    border-radius: 5px;
    border: 0;
}

.container-third-btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.container-third-btn button{
    padding: 20px 200px;
    font-size: 20px;
    font-family: var(--font);
    color: var(--cor-title-box-h1-h2);
    border-radius: 5px;
    border: 0;
}
